.kia_myanmar {
  padding-bottom: 100px;
  .kiacar{
    background: url("../images/utils/kiacarbg.png") no-repeat center center /100%;

  }
}
.latest-new-wrap{
padding-top: 3rem;
padding-bottom: 3rem;
background-color: #eeeeee;
.latest-new-header{
  display: flex;
  align-items: baseline;
  margin-bottom: 1.5rem;
  h1{
    position: relative;
    &::after{
      position: absolute;
      top: 114%;
      left: 3px;
      width: 100%;
      height: 5px;
      content: "";
      background: #c61230;
    }
  }
}
.new-item{
  background-color: #ffffff;
  margin-bottom: 1rem;
  .new-item-content{
    padding: 1.5rem;
    position: relative;
    .date{
      left: 0;
      position: absolute;
      top: -1.8rem;
      color: #fff;
      background-color: rgba(173, 173, 173, 0.7);
      padding: 0.25rem 0.75rem;
      font-size: 14px;
      min-width: 30%;
      text-align: center;
    }
    h5{
      color: #3498db;
      font-weight: 400;
      text-transform: uppercase;
    }
    p{
      margin-bottom: 0;
    }
    .read-more{
      color:#3498db;
    }
  }
}
.add-content-after::after{
  content: "| SEE ALL NEWS";
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 1rem;
}

.facebook-social-wrap{
  .facebook-header{
    background-color:#3b5998;
    padding:0.5rem 1rem;
    color:#fff;
    h3{
      margin-bottom: 0;
      color: #fff;
    }
    i{
      color: #fff;
      margin-right: 0.5rem;
    }
  }

}
}
.latest_new{
background: #eeeeee;
padding-top: 5%;
padding-bottom: 5%;
.kiamyanmar,.motor_oil{
  position: relative;

  figcaption{
    position: absolute;
    top: 117px;
    left: 0px;
    background: rgba(173,173,173,.7);
    color: #fff;
    padding: 8px;
    }
  }
}
.latest_neww{
  background: #fff;
  padding-left: 0px;
  padding-right: 0px;
}
.latenew{
  align-items: baseline;
  margin-bottom: 1.5rem;

  h1{
    position: relative;
    &::after{
      position: absolute;
      top: 114%;
      left: 3px;
      width: 23.5rem;
      height: 5px;
      content: "";
      background: #162133;
  }
  }
  a{
    padding-left: 1rem;
  }
}
.kiamyanmar_txt,.motor_oil_txt,.spengine_txt{
  padding:12px;
}
.spengine_txt{
  margin-top: 12px;
}
@media screen and (max-width:1200px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 117px;
      left: 0;
      padding: 8px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }
}
@media screen and (max-width:1199px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 102px;
      left: 0;
      padding: 2px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }
}
@media screen and (max-width:1024px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 102px;
      left: 0;
      padding: 2px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }
}
@media screen and (max-width:992px){

.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 90px;
      left: 0px;
      background: rgba(173,173,173,.7);
      color: #fff;
      padding: 8px;
      }
    }
  }
}
@media screen and (max-width:991px){

.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 69px;
      left: 0;
      padding: 3px;
      color: #fff;
      background: rgba(173,173,173,.7);
      font-size: 13px;
      }
    }
  }
}
@media screen and (max-width:768px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 66px;
      left: 0;
      padding: 2px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }

}
@media screen and (max-width:576px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 188px;
      left: 0;
      padding: 8px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }
}
@media screen and (max-width:425px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 137px;
      left: 0;
      padding: 8px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }
}
@media screen and (max-width:415px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 132px;
      left: 0;
      padding: 8px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }

}
@media screen and (max-width:375px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 114px;
      left: 0;
      padding: 8px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }

}
@media screen and (max-width:320px){
.latest_new{
  .kiamyanmar,.motor_oil{
    position: relative;

    figcaption{
      position: absolute;
      top: 102px;
      left: 0;
      padding: 2px;
      color: #fff;
      background: rgba(173,173,173,.7);
      }
    }
  }

}
