.about{
  height: 63px;
  margin-top: 121px;
  // margin-bottom: 50px;
  background: #c51230;
  padding-top: 15px;
  .ftcolor{
    color:#fff;
  }


}
.abtbtn{
  margin-bottom: 20px;
  h5{
    font-weight:700;
  }
}
.abt-us{
  margin-bottom: 50px;
}
@media screen and (max-width:767px){
  .about .about1 {

    border-right: none;
}
}
.about-wrap{
  // margin-bottom:20%;
  .about1{

    border-right: 1px solid;
    padding-right: 50px;


  }
  .about2{
    padding-left: 50px;
    h5{
      font-weight:700;
    }
    .sgp{
      .abtbtn{
        padding-left: 0;
        list-style-type: none;
      }
    }
  }
}
@media screen and (max-width:768px){
  .about-wrap{
    // margin-bottom:20%;
    .about1{

      border-right: 0px solid;
      padding-right: 15px;

    }
    .about2{
      padding-right: 15px;
      padding-left: 15px;
    }

}
}
@media screen and (max-width:375px){
  .abtbtn {
    margin-bottom: 30px;
    margin-right: 15px;
}
}
