.flex-container,.flex-container1 {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 22px;
  margin-bottom: 45px;
  

}

.img{
  padding-right: 20px;
  width: 50px;
  height:40px;
  padding-top: 10px;
}
.flex-column{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.bgfoot{
  background: #c9c9c9;
  .con{
    padding-top: 100px;
    padding-bottom: 50px;
    ul {
      margin-top: 15px !important;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        p {
          min-width: 103px;
          transform: translateX(-39px);

        }
        .address,.email {
          transform: translateX(-23px);
          min-width: auto;
          a{
            color: #212529;
            word-break: break-word;
          }
        }
      }
    }
  }
}
.btn-info{
  background: #626262;
  border-color: #626262;
  margin-left:10px;
  

}
.btn-info:hover {
  color: #fff;
  background-color: #626262;
  border-color: #626262;
}

// .textbox{
//   width:100%;
// }
@media screen and (max-width:1200px){
  .flex-container1 {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 22px;
    margin-bottom: 45px;
  
  }
  .btn-info{
    background: #626262;
    border-color: #626262;
    width:100%;
    margin-left:1px
  
  }
  

}
//update 
.phonecall{
  a{
    color:#212529;
  }
}
.text-alignment{
  text-align: right;
}

.ftimage{
  a{
    padding-bottom: 33px;
    img{
      width:95px;
    }
  }
  
}
.ftlogo{
  img{
    margin-right: -11px;
    margin-left: 0px;
  }
}
@media screen and (max-width:768px){
  .bgfoot .con ul li .address a, .bgfoot .con ul li .email a {
    color: #212529;
    word-break: break-word;
}
}
@media screen and (max-width:576px){
  .ftrow{
    text-align: center;
    margin-top:28px;
    .ftlogo{
      justify-content: center;
    }
  }
}
@media screen and (max-width:576px){
  .bgfoot .con ul li p{
    min-width: 201px;
  }  
  .bgfoot .con ul li .address, .bgfoot .con ul li .email{
    text-align: left;
  }
}
@media screen and (max-width:424px){
  .bgfoot .con ul li p {
    min-width: 169px;
}
}
@media screen and (max-width: 374px){
  .bgfoot .con ul li p {
    min-width: 150px;
}
}
@media screen and (max-width: 375px){
  .bgfoot .con ul li p {
    min-width: 106px;
}
}
@media screen and (max-width: 320px)
{
  .bgfoot .con ul li p {
    min-width: 106px;
}
}



