.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 45px;
  a {
    padding-right: 10px;
    img {
      width: 30px;
      height: 30px;
      transition: all .3s;
      &:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .7;
      }
    }
  }
}
.flex-column{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.bgfoot{
  background: #c9c9c9;
  position: relative;
  z-index: 10;
  border-top: 6px solid #c51230;
  .con{
    padding-top: 30px;
    padding-bottom: 10px;
    @media screen and (max-width: 767px) {
      padding: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        p {
          text-align: left;
          word-break: break-word;
        }
        p.title {
          width: 25%;
          font-weight: bold;
        }
        p.semi {
          width: 5%;
          font-weight: bold;
        }
        p.address {
          width: 70%;
        }
      }
    }
    .ftrow{
      h4{
        margin-bottom: 1.5rem;
      }
      .ftlogo {
        .btn-info {
          &:hover {
            background-color: #c41230;
            border-color: #c41230;
          }
        }
      }
    }
    .links-wrap{
      ul{
        padding: 2rem 1rem 1rem 2rem;
        margin-bottom: 0;
        @media screen and (max-width:991px){
          padding: 0;
        }
      }
      .ftlinks{
        margin-top:0 !important;

        li{
          margin-bottom: 0.5rem;
          position: relative;
          @media screen and (max-width:767px){
            text-align: center;
            display: block;
          }
          a {
            &:after {
              position: absolute;
              top: 8px;
              left: -15px;
              font-family: "Font Awesome 5 Free",sans-serif;
              font-size: 5px;
              font-weight: 900;
              color: #212529;
              content: "\f111";
              @media screen and (max-width: 767px) {
                display: none;
              }
            }
          }
        }
      }

    }


  }
}
.btn-info{
  background: #626262;
  border-color: #626262;
  margin-left:10px;


}
.btn-info:hover {
  color: #fff;
  background-color: #626262;
  border-color: #626262;
}

//...update footer copyright
.footertxt{
  background: #c9c9c9;
  padding-top: 10px;
  border-top: 1px solid #fff;
}
.ft_cptext{
  font{
    a{
      color: #c41230;
      text-decoration: none;
      @media screen and (max-width: 668px) and (min-width: 599px) {
        display: block;
      }
    }
  }
}

// .textbox{
//   width:100%;
// }
@media screen and (max-width:1200px){
  .flex-container1 {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 22px;
    margin-bottom: 45px;
    //...update footer
    input{
      margin-bottom: 10px;
      height: 37px;
    }
  }
  .btn-info{
    background: #626262;
    border-color: #626262;
    width:100%;
    margin-left:1px

  }


}
//update
.phonecall{
  a{
    color:#212529;
  }
}
.text-alignment{
  text-align: right;
  font-weight: 500;
}

.ftimage{
  a{
    padding-bottom: 1.5rem;
    img{
      width:95px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 0.3s;
      opacity: 0.7;
      &:hover {
        filter: none;
        opacity: 1;
      }
    }
  }
}

// @media screen and (max-width:768px){
//   .bgfoot .con ul li .address a, .bgfoot .con ul li .email a {
//     color: #212529;
//     word-break: break-word;
// }
// }
@media screen and (max-width: 767px){
  .ftrow{
    text-align: center;
    margin-top:28px;
    .ftlogo {
      justify-content: center;
    }
  }
}
// @media screen and (max-width: 767px){
//   .bgfoot .con ul li p{
//     min-width: 145px;
//     transform: none;
//     text-align: left;
//   }
//   .bgfoot .con ul li .address, .bgfoot .con ul li .email{
//     text-align: left;
//   }
// }
// @media screen and (max-width:424px){
//   .bgfoot .con ul li p {
//     min-width: 169px;
// }
// }
// @media screen and (max-width: 374px){
//   .bgfoot .con ul li p {
//     min-width: 150px;
// }
// }
// @media screen and (max-width: 375px){
//   .bgfoot .con ul li p {
//     min-width: 106px;
// }
// }
// @media screen and (max-width: 320px)
// {
//   .bgfoot .con ul li p {
//     min-width: 106px;
// }
// }
.address{
  a{
    color: #212529;
  }
}
