.bgfoot{
  background: #c9c9c9;
  position: relative;
  z-index: 10;
  border-top: 6px solid #c51230;
  .con{
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    .ftrow{
      @media screen and (max-width: 991px) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .flex-column{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        @media screen and (max-width: 991px) {
          flex-direction: row !important;
          justify-content: center;
        }
      }
      .ftimage {
        a {
          padding-bottom: 1.5rem;
          @media screen and (max-width: 991px) {
            width: 33%;
            text-align: center;
          }
          img {
            width: 80px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all 0.3s;
            opacity: 0.7;
            &:hover {
              filter: none;
              opacity: 1;
            }
          }
        }
      }
      h4{
        margin-bottom: 1.5rem;
        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }
      .ftlogo {
        a {
          margin-right: 1rem;
          padding: 1rem;
          border-bottom: 2px solid transparent;
          border-radius: 0%;
          transition: all .2s ease-in-out;
          &:after {
            content: '';
          }
          i {
            font-size: 16px;
          }
          i.fa-facebook-f {
            color: #4267b2;
          }
          i.fa-viber {
            color: #574e92;
          }
          i.fa-youtube {
            color: #ff0000;
          }
          i.fa-instagram {
            color: #505bd6;
          }
          &:hover {
            border-radius: 40%;
          }
        }
        a.facebook {
          border-bottom-color: #4267b2;
        }
        a.viber {
          border-bottom-color: #574e92;
        }
        a.youtube {
          border-bottom-color: #ff0000;
        }
        a.instagram {
          border-bottom-color: #505bd6;
        }
        .btn-info {
          &:hover {
            background-color: #c41230;
            border-color: #c41230;
          }
        }
      }
      .newseletter {
        .textbox {
          width: 100%;
        }
        a {
          padding: 0;
          .btn-info {
            margin: 0;
            border-radius: 0;
          }
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          @media screen and (max-width: 991px) {
            justify-content: center;
            flex-direction: column;
          }
          p {
            text-align: left;
            word-break: break-word;
            @media screen and (max-width: 991px) {
              text-align: center;
              font-size: 24px;
              margin-bottom: 0;
            }
            i {
              width: 15px;
            }
          }
          p.address {
            transform: translateX(10px);
            @media screen and (max-width: 991px) {
              font-size: 15px;
              margin-bottom: 1.5rem;
            }
            a{
              color: #212529;
            }
          }
        }
      }
    }
    .links-wrap{
      ul{
        padding: 2rem 1rem 1rem 2rem;
        margin-bottom: 0;
        @media screen and (max-width:991px){
          padding: 0;
        }
      }
      .ftlinks{
        margin-top:0 !important;

        li{
          margin-bottom: 0.5rem;
          position: relative;
          @media screen and (max-width:991px){
            text-align: center;
            display: block;
          }
          a {
            &:after {
              position: absolute;
              top: 8px;
              left: -15px;
              font-family: "Font Awesome 5 Free",sans-serif;
              font-size: 5px;
              font-weight: 900;
              color: #212529;
              content: "\f111";
              @media screen and (max-width: 991px) {
                display: none;
              }
            }
          }
        }
      }
    }
    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 45px;
      @media screen and (max-width: 991px) {
        justify-content: center;
      }
      a {
        padding-right: 10px;
        img {
          width: 30px;
          height: 30px;
          transition: all .3s;
          &:hover {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: .7;
          }
        }
      }
      .btn-info{
        background: #626262;
        border-color: #626262;
        margin-left:10px;
        transition: all .2s ease-in-out;
      }
      .btn-info:hover {
        color: #fff;
        background-color: #393939;
        border-color: #626262;
      }
    }
    //...update footer copyright
    .footertxt{
      background: #c9c9c9;
      padding-top: 10px;
      border-top: 1px solid #fff;
      .ft_cptext {
        p {
          font-size: 12px;
        }
        font{
          a{
            color: #c41230;
            text-decoration: none;
            transition: all .2s ease-in-out;
            @media screen and (max-width: 668px) and (min-width: 599px) {
              display: block;
            }
            &:hover {
              color: #a6112a;
            }
          }
        }
      }
    }
  }
}
