$paragraph-color:#606060;
$automotive:#373737;
$kia:#c51230;
header
  {

    font-size: 1rem;
    line-height: 1.5;
    color:$paragraph-color;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    background-color: #fff;
    a,a:hover
    {
      color:$paragraph-color;
    }

}
.top-bar
  {
    width:100%;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
    min-height: 2rem;
    .sub-menu{
      display: flex;
      justify-content: space-between;
      .contact-item{
        display:inline-block;
      }

    }
    ul
    {
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;
    }
    .sss-link::before{
      content: "|";
      margin: auto 0.5rem;

    }
    .top-menu
    {
      position: relative;
      &::after{
        color: #fff;
        content: "|";
        position: absolute;
        top: 5px;
        right: 0;
      }
      &:last-child::after{
        content: "";
      }
      a{
        color:#fff;
        text-decoration: none;
        padding: 5px 10px;
        background-color: $automotive;
        display: block;
        transition: all .8s;
        //border-right: 1px solid;
        //font-weight: 600;
        // background: linear-gradient(to right,#fff 20%,#ababab 40%,#fff 60%,#ababab 80%);
        //background-size: 200% auto;
       // background-clip: text;
        //-webkit-background-clip:text;
        //-webkit-text-fill-color: transparent;
        //animation: shine 2s linear infinite;
        &:hover {
          //background-color: #174eaa;
          text-decoration: underline;
        }
      }
      //@keyframes shine {
      //  to {
      //    background-position: 200% center;
      //  }
      //}
      .rotating{
        width: 17px;
        margin-right: 0.3rem;
        -webkit-animation-name: steering;
        animation-name: steering;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: easing;
        animation-timing-function: easing;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
      @-webkit-keyframes steering{0,100%,50%{-webkit-transform:rotate(0)}
      25%{-webkit-transform:rotate(-30deg)}
      75%{-webkit-transform:rotate(60deg)}
      }
      @keyframes steering{0,100%,50%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
      25%{-webkit-transform:rotate(-30deg);-ms-transform:rotate(-30deg);transform:rotate(-30deg)}
      75%{-webkit-transform:rotate(60deg);-ms-transform:rotate(60deg);transform:rotate(60deg)}
      }

    }
    .top-menu-icon
    {
      margin-right:0;

      a{
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.6;
        &:hover{
          opacity: 1;
        }
      }
      img
      {
        width:17px;
        margin-top: 0.3rem;
      }
      @media screen and (max-width:991px) {
        display: none;
      }
    }

}
.nav-container{
  position: relative;
}
.main-nav
{
  width:100%;
  border-bottom: 1px solid #ccc;
  font-family: KIA-Font-B, sans-serif;
  .navbar-collapse
  {
    flex-grow: 0;
    @media screen and (max-width: 576px) {
      max-height: 320px;
      overflow-y: scroll;
      overflow: auto;
    }

    // position: relative;


      @media screen and (min-width:992px) {
        .navbar-nav{
          // padding-right: 40px;
          &::after{
            content: "|";
            padding: 0.25rem;
          }
        }

      }

    .nav-item
    {
      a{
        color:#333;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        transition: all 0.8s;
        &:hover{
          color: #174eaa;
        }
        @media screen and (max-width: 991px) {
          padding-right: 0;
          padding-left: 0;
        }
        @media (max-width: 1199px) and (min-width: 992px) {
          padding-right: .7rem;
          padding-left: .7rem;
        }
      }
      a.active {
        color: #174eaa;
      }
    }
    .car-model-list{
      width:100%;
      position: absolute;
      top:113%;
      display: none;
      z-index: 9999;
      left:0;
      box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.05), 0 4px 10px 0 rgba(0, 0, 0, 0.12);
      .car-type{
        width:20%;
        background-color: #ededed;
        padding: 1rem;
        &:hover{
          color: #fff;
          background-color: $kia;
          text-decoration: none;
        }
        p{
          margin-bottom: 0;
          text-transform: uppercase;
          text-align: center;
        }
      }

    }
    .car-model-list::before{
      position: absolute;
      top: 0;
      left: 50%;
      content: "";
      border-top: 18px solid $kia;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    .car-model-list::after{
      position: absolute;
      bottom: 0;
      left: 50%;
      content: "";
      border-bottom: 18px solid $kia;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
    }
    .kia-model:hover .car-model-list{
      display: block;
    }
  }

  .searchright
  {
    padding-right: 1rem;
    padding-left: 1rem;
    // position: absolute;
    // z-index: 1000;
    // background-color: #fff;
    // width:60px;
    // right: 0;
    // padding: 1rem;
    // overflow: hidden;
    // display: flex;
    @media screen and (max-width:991px) {
      padding:0.5rem 0;
    }

    .btn-search-icon {
      cursor: pointer;
      // &:first-child{
      //   margin-right: 1.5rem;
      //   margin-left: 0.25rem;
      // }


    }
    .search{
      border-radius: 0;

    }
    .search-form {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      background: #FFF;
      padding: 20px 15px;
      display: none;
      .close {
        position: absolute;
        left: calc(100% - 45px);
        bottom: 30px;
        font-size: 18px;
        cursor: pointer;
      }
      .icon-search{
        display: none;
      }

      @media screen and (max-width: 991px) {
        left: -1px;
        display: block;
        padding: 0;
        .close{
          display: none;
        }
        .icon-search{
          display: block;
          position: absolute;
          bottom: 8px;
          left: calc(100% - 35px);
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 991px) {
      padding-right: 0;
      padding-left: 0;
    }
    .search-wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


}
.show-mobile,.show-mobile-767{
  display: none;
}
@media screen and (max-width:991px){
  .show-mobile{
    display: block;
  }
  .top-menu{
    display: none;
  }
  .show-text-drive{
    display: block;
  }
}
@media screen and(max-width:767px){
  .top-bar{
    .sss-link::before{
      content: "";
      margin: auto;
    }
    .sub-menu{
      .mobile-width{
        width: 65%;
      }
    }
    .top-menu-icon {
      padding: 0.5rem 0;
    }
    .show-text-drive{
     margin-top: 0.5rem;
    }
  }
  .show-mobile-767{
    display: block;
  }
}
@media screen and(max-width:424px){
  .navbar-brand{
    a{
      img{
        width: 95px;
      }
      .line{
        width: 25px;
      }
    }
  }
}
@media screen and(max-width:374px){
  .top-bar{
    .sub-menu{
      display: inline-block;
      .mobile-width{
        width: 100%;
      }
    }
  }

}
