$kia:#c51230;

.kia-main{
  .header-slider-wrap
  {
    .header-slider{
      .slide-item{
        text-align: center;
        img{
          width: 100%;
        }
        .slide-content{
          position: absolute;
          text-align: center;
          width: 100%;
          @media screen and (min-width: 1200px) {
            bottom: 6rem;
          }
          @media screen and (max-width: 1199px) {
            bottom: 3rem;

          }
          @media screen and (max-width:600px) {
            bottom: 1.3rem;
          }
        }
        h1{
          color: #fff;
          text-shadow: 2px 5px 10px #000;
          @media screen and (min-width: 1200px) {
            font-size: 4.5rem;
          }
          @media screen and (max-width: 1199px) {
            font-size: 3.5rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
          @media screen and (max-width:600px) {
            font-size: 1.5rem;
          }
          @media screen and (max-width: 424px) {
            font-size: 1rem;
          }
        }

      }
      .slick-prev{
        left: 10%;
        @media screen and (max-width:425px){
          left: 4%;
        }
      }
      .slick-next{
        right: 10%;
        @media screen and (max-width:425px){
          right: 4%;
        }
      }
      .slick-prev, .slick-next {
        background: $kia;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        z-index: 1;
        @media screen and (max-width:425px){
          height: 25px;
          width: 25px;
        }
      }
      .slick-next {
        &:before {
          content: '\f054';
          font-weight: 900;
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-size: 18px;
        }
      }
      .slick-prev {
        &:before {
          content: '\f053';
          font-weight: 900;
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-size: 18px;
        }
      }
    }

  }
  .popular-car-wrap
  {
    padding-top:3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ccc;
    .popular-car-list
    {
      padding-top:3rem;
      .car-item
      {
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        transition: all 0.3s;
        &:hover{
          box-shadow: 0px 1px 9px 0px #bbb;
        }
        a{
          text-decoration: none;
        }
        img{
          width: 100%;
          border-radius: 0.25rem 0.25rem 0 0;
        }
        .car-price{
          // border-bottom: 1px solid #ccc;
          // padding: 0.75rem;
          padding: 1.5rem;
          p{
            font-weight: 500;
            color: #ee5726;
            font-size: 1.1rem;
            margin-bottom: 0;
            &::after{
              content: "Price onwards";
              color: #606060;
              font-size: 0.8rem;

            }
          }
        }
        ul{
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          padding: 0.75rem;
          margin-bottom: 0;
        }
        li{
          font-size: 14px;
          &::before{
            font-weight: 900;
            font-family: 'Font Awesome 5 Free', sans-serif;
            font-size: 12px;
            color:#606060;
            margin-right: 3px;
            content: '';
          }
          &:first-child::before{
            content: '\f004';

          }
          &:nth-child(2)::before{
            content: '\f079';
          }
          &:last-child::before{
            content: '\f005';
          }
        }
      }
      .slick-prev, .slick-next{
        top: 1rem;
        border: 1px solid #ccc;
        width: 2.5rem;
        height: 2rem;
        border-radius: 0.25rem;
      }
      .slick-prev{
        right: 4rem;
        left: auto;
        &:before{
          content: '\f053';
          font-weight: 900;
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-size: 18px;
          color: #000;
        }
      }
      .slick-next{
        right: 1rem;
        &:before{
          content: '\f054';
          font-weight: 900;
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-size: 18px;
          color: #000;
        }
      }
    }
  }

  .new-promotion-wrap
  {
    padding-top: 3rem;
    .promotion-slider
    {
      .promotion-item {
        @media screen and (max-width: 599px) {
          position: relative;
        }
        .promotion-content
        {
          position: absolute;
          top: 10%;
          padding: 0.5rem 1.5rem;

          @media screen and (max-width: 599px) {
            width: 100%;
            text-align: center;
            top: 20%;
          }
          @media screen and (max-width:375px) {
            top: 5%;
          }
          h3,p{
            color: #ffffff;
          }
          h3 {
            @media screen and (max-width: 425px) {
              font-size: 1.5rem;
            }
          }
          p {
            @media screen and (max-width: 425px) {
              margin-bottom: .5rem;
            }
          }
        }
      }
      .slick-next
      {
        right: 10%;
        background: #000;
      }
      .slick-prev
      {
        left: 10%;
        background: #000;
      }
      .slick-prev, .slick-next {
        background: $kia;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        z-index: 1;
      }
      .slick-next {
        &:before {
          content: '\f054';
          font-weight: 900;
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-size: 18px;
        }
      }
      .slick-prev {
        &:before {
          content: '\f053';
          font-weight: 900;
          font-family: 'Font Awesome 5 Free', sans-serif;
          font-size: 18px;
        }
      }
      .slick-slide:not(.slick-current){
        opacity: 0.5;
        transition: opacity 1.5s ease-in-out;
      }
    }
    .bar{
      background-color: $kia;
      padding: 1rem;
      text-align: center;
      @media screen and (max-width:425px) {
        padding: 0.5rem;
      }
      h2{
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;
        font-weight: 400;
        @media screen and (max-width: 991px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width:425px) {
          font-size: 1rem;
        }
      }
    }
  }

  .latest-new-wrap{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #eeeeee;
    .latest-new-header{
      display: flex;
      align-items: baseline;
      margin-bottom: 1.5rem;
      h1{
        position: relative;
        &::after{
          position: absolute;
          top: 114%;
          left: 3px;
          width: 100%;
          height: 5px;
          content: "";
          background: $kia;
        }
      }
    }
    .new-item{
      background-color: #ffffff;
      margin-bottom: 1rem;
      .new-item-content{
        padding: 1.5rem;
        position: relative;
        .date{
          left: 0;
          position: absolute;
          top: -1.8rem;
          color: #fff;
          background-color: rgba(173, 173, 173, 0.7);
          padding: 0.25rem 0.75rem;
          font-size: 14px;
        }
        h5{
          color: #3498db;
          font-weight: 400;
          text-transform: uppercase;
        }
        p{
          margin-bottom: 0;
        }
        .read-more{
          color:#3498db;
        }
      }
    }
    .add-content-after::after{
      content: "| SEE ALL NEWS";
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 1rem;
    }

    .facebook-social-wrap{
      .facebook-header{
        background-color:#3b5998;
        padding:0.5rem 1rem;
        color:#fff;
        h3{
          margin-bottom: 0;
          color: #fff;
        }
        i{
          color: #fff;
          margin-right: 0.5rem;
        }
      }

      .social-feed-wrap{
        padding: 1.5rem 0;
        .social-feed-gap{
          margin-bottom: 1rem;
        }
        .social-feed-item{
          background-color: #fff;
          .social-content{
            padding: 1.5rem;
            p{
              margin-bottom: 0;
            }
            ul{
              list-style-type: none;
              display: flex;
              justify-content: flex-start;
              padding:0;
              margin-bottom: 0;
            }
            .logo{
              border-radius: 50%;
              border: 1px solid #ccc;
              padding: .5rem .25rem;
              margin-right: 0.5rem;
              }

            .kia-mm{
              color:#3b5998;
              font-weight: 600;
              display: block;
            }
            a {
              color: #3498db;
            }
          }
        }
      }
    }
  }
}
