.promo-slide-wrap {
	.promo-slide-tabs {
		.carousel {
			.carousel-inner {
				.carousel-item {
					.carousel-caption {
						text-align: left;
						@media screen and (max-width: 991px) {
							top: 5px;
						}
						@media screen and (max-width: 424px) {
							top: 0;
						}
						@media screen and (min-width: 992px) {
							top: 0;
							left: 4%;
							right: auto;
						}
						@media screen and (min-width: 1200px) {
							left: 21%;
							top: 20px;
							right: auto;
						}
						h2 {
							color: #FFF;
							@media screen and (max-width: 991px) {
								font-size: 20px;
							}
							@media screen and (max-width: 424px) {
								font-size: 16px;
							}
						}
						hr {
							background: #FFF;
							height: 2px;
							display: none;
							@media screen and (max-width: 991px) {
								display: none;
							}
						}
						p {
							color: #FFF;
							font-weight: bold;
						}
						a {
							font-size: 14px;
							@media screen and (max-width: 424px) {
								font-size: 10px;
							}
						}
						h1 {
							color: #FFF;
							margin-top: 1rem;
							@media screen and (max-width: 991px) {
								font-size: 20px;
								margin-top: .5rem;
							}
						}
					}
				}
			}
		}
		.tab-content {
			nav {
				background: #333;
				.nav-tabs {
					max-width: 1140px;
    			margin: 0 auto;
					@media screen and (min-width: 1199px) {
						max-width: 100%;
					}
					@media screen and (min-width: 1200px) {
						max-width: 1140px;
					}
					.nav-item {
						border-radius: 0;
						transition: all 0.3s;
						@media screen and (max-width: 424px) {
							padding: 5px;
						}
						@media screen and (max-width: 1199px) {
							width: 20%;
						}
						@media screen and (min-width: 1200px) {
							width: 20%;
						}
						&:hover {
							border: 1px solid #333;
						}
						span {
							display: block;
							font-weight: normal;
							@media screen and (max-width: 767px) {
								font-size: 12px;
							}
							@media screen and (max-width: 424px) {
								font-size: 10px;
							}
						}
						h4 {
							@media screen and (max-width: 767px) {
								font-size: 16px;
							}
							@media screen and (max-width: 424px) {
								font-size: 10px;
							}
						}
					}
					.nav-item.active {
						-webkit-box-shadow: inset 10px 10px 20px -5px rgba(0,0,0,0.7);
						-moz-box-shadow: inset 10px 10px 20px -5px rgba(0,0,0,0.7);
						box-shadow: inset 10px 10px 20px -5px rgba(0,0,0,0.7);
						border-color: #333;
					}
					#nav-new-year-tab {
						background: #FFF;
					}
					#nav-march-tab {
						background: #c51230;
					}
					#nav-kia-march-tab {
						background: #a7defa;
					}
					#nav-sweet-dec-tab {
						background: #9f77a8;
					}
					#nav-february-tab {
						background: #d3c631;
					}
				}
			}
		}
	}
}
