$header-color:#3498db;

.service{
    margin-top:200px;
    .services-row{
        // border-bottom: 1px solid;
        margin-top: 50px;
        padding-bottom: 50px;
		}
		.services-row1{

			margin-top: 50px;
			padding-bottom: 50px;
	}
}
.h-color{
    color:$header-color;
}
@media screen and (max-width:576px){
	.service{
		.services-row{
			padding-bottom: 1px;
			margin-top: 50px;
			h4{
				margin-top:24px;
			}
		}
		.services-row1{
			padding-bottom: 1px;
			margin-top: 50px;
			h4{
				margin-top: 24px;
			}
		}

	}


}
//......update service

.con-auto{
	ul{
		padding: 0;
	}
  .service-img {
    @media screen and (max-width: 767px) {
      img {
        margin-bottom: 1rem;
      }  
    }
  }
}
.first_row{
	margin-top: 50px;
}
.account-item {
    display: flex;
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) {
      display: block;
    }
}
.account-item .check-square-img {
    // width: 147px;
	padding-top: .3rem;
	img{
		width: 70px;
    height: 70px;
    padding: 10px;
    margin-right: 1rem;
    background: #c51230;
    border-radius: 50%;
    @media screen and (max-width: 768px) {
      margin-bottom: 1rem;
    }
	}
}
