include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
          a(href="./index.html") KIA
          | / ABOUT US
        ul
          li 
            a(href="http://sss.innovix-solutions.net/kia") Kia   
          li 
            a(href="http://sss.innovix-solutions.net/peugeot") Peugeot 
          li 
            a(href="http://sss.innovix-solutions.net/kinglong/") King Long

  div.container.kia_myanmar.content-body
    div.row 
      .col-md-6.wow.fadeIn
        h1.mb-5 KIA Myanmar
        p Firefox can't find the server at player.vimeo.com. Check the address for typing errors such as ww.example.com instead of www.example.com If you are unable to load any pages, check your computer's network connection. If your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to access the Web.Firefox can't find the server at player.vimeo.com.
        p has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
        p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      .col-md-6   
        div.kiacar 
          img.w-100.wow.bounceInDown(src="assets/images/utils/carimg_4.png", alt="kia_aboutus", data-wow-delay=".1s", data-wow-duration="1s")   
  .latest-new-wrap      
    .container
      .latest-new-header 
        h1 Latest News
      .row
        .col-lg-4.col-md-6.wow.fadeIn
          .new-item
            img(src='./assets/images/utils/latest-new-1.jpg', alt='',width="100%")                
            .new-item-content
              p.date October 30,2019
              h5 KIA MYANMAR
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at orci nulla. Quisque fermentum nisi sed eros aliquet, nec pulvinar justo iaculis. Duis at facilisis metus. Sed id erat tortor.  ...                    
              a.read-more(href="./news.html") Read more >>
                    
        .col-lg-4.col-md-6.wow.fadeIn
          .new-item
            img(src='./assets/images/utils/latest-new-2.jpg', alt='',width="100%")                
            .new-item-content
              p.date October 30,2019
              h5 KIA MYANMAR
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at orci nulla. Quisque fermentum nisi sed eros aliquet, nec pulvinar justo iaculis. Duis at facilisis metus. Sed id erat tortor.  ... 
              a.read-more(href="./news.html") Read more >>
        .col-lg-4.col-md-6.wow.fadeIn
          .new-item
            img(src='./assets/images/utils/latest-new-3.jpg', alt='',width="100%")                
            .new-item-content
              p.date October 30,2019
              h5 KIA MYANMAR
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at orci nulla. Quisque fermentum nisi sed eros aliquet, nec pulvinar justo iaculis. Duis at facilisis metus. Sed id erat tortor.  ... 
              a.read-more(href="./news.html") Read more >>
              
      .center-btn.text-center
        a.btn.btn-rounded.btn-peugeot(href="newlist.html") See all news
              
  a.return-to-top(href='javascript:')
    i.fas.fa-arrow-up        

include ./components/_footer.pug
script(src="./assets/js/core.min.js")
