include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
          a(href="./index.html") KIA
          | / contact us
        ul
          li 
            a(href="") Kia   
          li 
            a(href="") Peugeot 
          li 
            a(href="") King Long
        
  section.content-body
    div.container.contactus-wrap     
      h1.mb-3 Contact Us
      div.row.mb-5
        div.col-md-6.pt-3
          form
            h4 Send to Inquriy
            div.form-group
              div
                input.form-control(type='text', placeholder='Your Name', required="required")
            div.form-group
              div
                input.form-control(type='email', placeholder='Your Email', required="required")
            div.form-group
              div
                input.form-control(type='text', placeholder='Subject', required="required")
            div.form-group
              div
                textarea.form-control(rows='5', placeholder='Your Message', required="required")
            div.form-group.text-right
              button.btn.btn-kia(type='submit') Send Message
        div.col-md-6.pt-3
            h4 Call Us   
            p
              | Operating hours for all hotlines
              br
              | Monday to Friday: 8:30am to 8:30pm
              br
              | Sunday & public holidays: Closed
              br
              br
              p Phone: (+951) 567866, 567867, 567868
      .row
        .col-md-12
          h4 Visit Our Show room
          p Address: No.22-B, 23-A, Kabar Aye Pagoda Road, Yankin Township, Yangon, Myanmar
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4541.218640409659!2d96.15503550835265!3d16.841506313494612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1935e5feb7cf9%3A0x7148ef8aeac999e3!2sSSS+Auto+Leasing+Co.%2C+Ltd!5e0!3m2!1sen!2smm!4v1557743863012!5m2!1sen!2smm" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  a.return-to-top(href='javascript:')
    i.fas.fa-arrow-up               
                  
             

                
  



include ./components/_footer.pug

script(src="./assets/js/core.min.js")
