// variables require
include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
          a(href="./index.html") SSS
          | / About Us
        ul
          li 
            a(href="http://sss.innovix-solutions.net/kia/") Kia   
          li 
            a(href="http://sss.innovix-solutions.net/peugeot/") Peugeot 
          li 
            a(href="http://sss.innovix-solutions.net/kinglong/") King Long
  div.container.content-body   
    div.row.about-wrap
      div.col-md-6.about1
        div.abtbtn 
          h1 SSS Group
        div.abtbtn
          img.w-100(src="assets/images/utils/abtus.jpg", alt="about us") 
        p.abtbtn Super Seven Stars International Trading Co., Ltd was established in 2001 as a trading firm selling Japanese electronic appliances as well as passenger and commercial vehicles and automobile spare parts.
        p.abtbtn From 2012, Super Seven Stars Co., Ltd has become an appointed distributor of Kia Motors Corporation (KMC) and SsangYong Motors Company in Myanmar. The Exclusive Distributorship agreement with KMC allowed SSS to open the first brand new car showroom in Myanmar in 2013.
        p.abtbtn Currently, SSS Co., Ltd sells Kia passenger cars (Compacts, Saloons, SUV, MPV, Light Trucks) are imported and sold throughout Myanmar through 8 Sales Showrooms. After receiving SsangYong Motors Co., Ltd’s Exclusive Distributorship agreement, SSS has been selling SUV, MPV and Double Cabin Pickup cars through our sales outlets across Myanmar.
        p.abtbtn By 2015, Super Seven Stars Co., Ltd is representing Kia, Peugeot, SsangYong, and King Long in Myanmar.
        p.abtbtn Moreover, since 2013, SSS Auto Leasing Co., Ltd (www.sssautoleasing.com) is established for handling auto leasing business to corporate and individual customers.
      
      
      div.col-md-6.about2
        div.abtbtn 
          h1 Core Values
        div.abtbtn
          h5 Passion and Enthusiasm
          p Passionately striving for the best results and enjoying all the fun in the process 
        //...
        div.abtbtn 
          h5 Being Different
        
          p Achieving objectives in a creative, innovative way by thinking out of the box.
        //...
        div.abtbtn 
          h5 Pursuit of Excellence
        
          p Taking up new initiatives, challenges, and doing the job right the first time.
        //..
        div.abtbtn 
          h5 Team Spirit 
          
          p Working as a cohesive and disciplined team towards our common goals and with concerted efforts.
        //...
        div.abtbtn 
          h5 Mission Statement
        
          p We aspire to be the most successful retailer of automobiles by providing the best customer experience in every market we operate.
        //...
        div.sgp
          h5 SSS Group comprises of
          ul.abtbtn
            li Super Seven Stars Co., Ltd
            li Super Seven Stars International Trading Co., Ltd
            li Super Seven Stars Motors Industry Co., Ltd.
            li Dynamic Industry Co., Ltd 
            li Safhi International Pte Ltd
            li SSS Auto Finance Co., Ltd, and
            li SSS Auto Leasing Co., Ltd.
        
    a.return-to-top(href='javascript:')
      i.fas.fa-arrow-up    
        
        



        
        


include ./components/_footer.pug

script(src="./assets/js/core.min.js")
