include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
         a(href="./index.html") KIA
          | / News
        ul
          li 
            a(href="http://sss.innovix-solutions.net/kia/") Kia   
          li 
            a(href="http://sss.innovix-solutions.net/peugeot/") Peugeot 
          li 
            a(href="http://sss.innovix-solutions.net/kinglong/") King Long
  div.container.content-body
    div.row 
      .col-sm-8.kia-new
        h1 NEWS
        img.w-100(src="assets/images/utils/carnew.jpg", alt="")
              
        h4 KIA New Design 2020
        p Firefox can't find the server at player.vimeo.com.
        p Check the address for typing errors such as ww.example.com instead of www.example.com If you are unable to load any pages, check your computer's network connection.your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to access the Web.Firefox can't find the server at player.vimeo.com.
        p Check the address for typing errors such as ww.example.com instead of www.example.com If you are unable to load any pages, check your computer's network connection.your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to access the Web.Firefox can't find the server at player.vimeo.com.
        p Check the address for typing errors such as ww.example.com instead of www.example.comer at player.vimeo.com.
        p Check the address for typing errors such as ww.example.com instead of www.example.com  your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to access the Web.Firefox can't find the server at player.vimeo.com.
        p Check the address for typing errors such as ww.example.com instead of www.example.com f you are unable to load any pages, check your computer's network connection. your computer or network is protected by a firewall or proxy, make sure that Firefox is permitted to access the Web.Firefox can't find the server at player.vimeo.com.
        p Check the address for typing errors such as ww.example.com instead of www.example.com
        p If you are unable to load any pages, check your computer's network connection.
      .col-sm-4.kia-Subscribe
        div.subscribes
          span Subscribes
        div.text-subscribe 
          input.form-control(type="text" name="username" placeholder="Name") 
          input.form-control(type="text" name="email" placeholder="Email")
          p 
            button.btn.btn-peugeot(type="submit") Subscribe
        div.subscribes  
          span Recent Posts

        div.recent
          ul.tab
            li Recent 
          
          div.row 
            .col-md-3
              img.w-100(src="assets/images/utils/newimg.jpg", alt="")
            .col-md-9 
              span.d-block Our New Dashboard Is Here
              a(href="#") read more

          div.row 
            .col-md-3
              img.w-100(src="assets/images/utils/newimg1.jpg", alt="")
            .col-md-9 
              span.d-block Design Is In The Air
              a(href="#") read more

          div.row 
            .col-md-3
              img.w-100(src="assets/images/utils/newimg.jpg", alt="")
            .col-md-9 
              span.d-block Our New Dashboard Is Here
              a(href="#") read more

          div.row 
            .col-md-3
              img.w-100(src="assets/images/utils/newimg1.jpg", alt="")
            .col-md-9 
              span.d-block Design Is In The Air
              a(href="#") read more	

  a.return-to-top(href='javascript:')
    i.fas.fa-arrow-up 
include ./components/_footer.pug
script(src="./assets/js/core.min.js")
