include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
          a(href="./index.html") PEUGEOT
          | / PROMOTIONS
        ul
          li 
            a(href="http://sss.innovix-solutions.net/kia") Kia   
          li 
            a(href="http://sss.innovix-solutions.net/peugeot") Peugeot 
          li 
            a(href="http://sss.innovix-solutions.net/kinglong/") King Long
  //- .container.content-body
  //-   h1 Promotions
  div    
    .promo-slide-wrap
      .promo-slide-tabs
        #nav-tabContent.tab-content
          #nav-new-year.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-new-year-tab')
            #carouselExampleControls1.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/utils/procar-1.jpg', alt='First slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
                .carousel-item
                  img.d-block.w-100(src='assets/images/utils/procar-2.jpg', alt='Second slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
              //- a.carousel-control-prev(href='#carouselExampleControls1', role='button', data-slide='prev')
              //-   span.carousel-control-prev-icon(aria-hidden='true')
              //-   span.sr-only Previous
              //- a.carousel-control-next(href='#carouselExampleControls1', role='button', data-slide='next')
              //-   span.carousel-control-next-icon(aria-hidden='true')
              //-   span.sr-only Next
                
          #nav-march.tab-pane.fade(role='tabpanel', aria-labelledby='nav-march-tab')
            #carouselExampleControls2.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/utils/procar-3.jpg', alt='First slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
                .carousel-item
                  img.d-block.w-100(src='assets/images/utils/procar-4.jpg', alt='Second slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
              //- a.carousel-control-prev(href='#carouselExampleControls2', role='button', data-slide='prev')
              //-   span.carousel-control-prev-icon(aria-hidden='true')
              //-   span.sr-only Previous
              //- a.carousel-control-next(href='#carouselExampleControls2', role='button', data-slide='next')
              //-   span.carousel-control-next-icon(aria-hidden='true')
              //-   span.sr-only Next

          #nav-kia-march.tab-pane.fade(role='tabpanel', aria-labelledby='nav-kia-march-tab')
            #carouselExampleControls3.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/utils/procar-5.jpg', alt='First slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
                .carousel-item
                  img.d-block.w-100(src='assets/images/utils/procar-6.jpg', alt='Second slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
              //- a.carousel-control-prev(href='#carouselExampleControls3', role='button', data-slide='prev')
              //-   span.carousel-control-prev-icon(aria-hidden='true')
              //-   span.sr-only Previous
              //- a.carousel-control-next(href='#carouselExampleControls3', role='button', data-slide='next')
              //-   span.carousel-control-next-icon(aria-hidden='true')
              //-   span.sr-only Next
          
          #nav-sweet-dec.tab-pane.fade(role='tabpanel', aria-labelledby='nav-sweet-dec-tab')
            #carouselExampleControls4.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/utils/procar-7.jpg', alt='First slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
                .carousel-item
                  img.d-block.w-100(src='assets/images/utils/procar-1.jpg', alt='Second slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
              //- a.carousel-control-prev(href='#carouselExampleControls4', role='button', data-slide='prev')
              //-   span.carousel-control-prev-icon(aria-hidden='true')
              //-   span.sr-only Previous
              //- a.carousel-control-next(href='#carouselExampleControls4', role='button', data-slide='next')
              //-   span.carousel-control-next-icon(aria-hidden='true')
              //-   span.sr-only Next

          #nav-february.tab-pane.fade(role='tabpanel', aria-labelledby='nav-february-tab')
            #carouselExampleControls5.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/utils/procar-2.jpg', alt='First slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
                .carousel-item
                  img.d-block.w-100(src='assets/images/utils/procar-3.jpg', alt='Second slide')
                  .carousel-caption
                    h2
                      | Your own it
                      br
                      | Now make it yours
                    hr
                    p.d-none.d-md-block
                      | Choose your vehicle
                    a(href="./promotion_detail.html").btn.btn-peugeot.btn-rounded View more
                    h1.d-none.d-md-block
                      | Happy Thingyan Festival
                      br 
                      | Special Promotion
              //- a.carousel-control-prev(href='#carouselExampleControls5', role='button', data-slide='prev')
              //-   span.carousel-control-prev-icon(aria-hidden='true')
              //-   span.sr-only Previous
              //- a.carousel-control-next(href='#carouselExampleControls5', role='button', data-slide='next')
              //-   span.carousel-control-next-icon(aria-hidden='true')
              //-   span.sr-only Next
                
          nav
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-new-year-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-new-year', role='tab', aria-controls='nav-new-year', aria-selected='true') 
                h4 2019 New Year
                span Promotion
              a#nav-march-tab.nav-item.nav-link(data-toggle='tab', href='#nav-march', role='tab', aria-controls='nav-march', aria-selected='false') 
                h4 2019 March
                span Promotion
              a#nav-kia-march-tab.nav-item.nav-link(data-toggle='tab', href='#nav-kia-march', role='tab', aria-controls='nav-kia-march', aria-selected='false') 
                h4 2019 KIA March
                span Promotion
              a#nav-sweet-dec-tab.nav-item.nav-link(data-toggle='tab', href='#nav-sweet-dec', role='tab', aria-controls='nav-sweet-dec', aria-selected='false') 
                h4 2019 Sweet Dec
                span Promotion
              a#nav-february-tab.nav-item.nav-link(data-toggle='tab', href='#nav-february', role='tab', aria-controls='nav-february', aria-selected='false') 
                h4 2019 February
                span Promotion

  

  a.return-to-top(href='javascript:')
    i.fas.fa-arrow-up 
include ./components/_footer.pug
script(src="./assets/js/core.min.js")
