include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
         a(href="./index.html") KIA
          | / News
        ul
          li 
            a(href="http://sss.innovix-solutions.net/kia/") Kia   
          li 
            a(href="http://sss.innovix-solutions.net/peugeot/") Peugeot 
          li 
            a(href="http://sss.innovix-solutions.net/kinglong/") King Long

  div.container.content-body.pro-detail
    h1 Promotions 
    h4 KIA ANNIVERSARY Special Financing Promotion 
    div.row.p-detail
      div.col-md-12.pdetail_img 
        img.w-100(src="assets/images/utils/procar-3.jpg", alt="")
      
      div.col-md-12
        p KIA ANIVERSARY Special Financing Promotion ကနဦးအတြက္ Down payment ေပးေခ်စရာမလိုဘဲ ဘယ္မွာမွမရႏိုင္သည့္ တစ္လလွ်င္ ၀.၅% အတိုးႏူန္းျဖင့္ (၇) ႏွစ္အထိအရစ္က်၀ယ္ယူႏုိင္မည့္အခြင့္အေရး ျမင့္မားေသာနည္းပညာ၊ ႀကံခိုင္ေသာ စြမ္းေဆာင္ရည္၊ ေခတ္မွီေသာ အသြင္အျပင္တို႔ကို အခ်ိဳးညီစြာ ေပါင္းစပ္ထုတ္လုပ္ထားၿပီး (၇) နွစ္ အထိ warranty ပါ၀င္သည့္ KIA ကားသစ္မ်ားကို Promotion ကာလအတြင္း၀ယ္ယူပါက
        div.list-item
          ul
            li
              i.fas.fa-car
              span 0% down payment (အတိုးႏူန္းေပးေခ်စရာမလိုဘဲ (၁၂) လ အထိအရစ္က်ခြဲသြင္းႏိုင္မွာျဖစ္ျခင္း)
            li
              i.fas.fa-car
              span တစ္လလွ်င္ ၀.၅% သာအတိုးႏႈန္းေပးေခ်ရမွာျဖစ္ျခင္း 
            li
              i.fas.fa-car
              span တစ္လလွ်င္ ၀.၅% သာအတိုးႏႈန္းေပးေခ်ရမွာျဖစ္ျခင္း
            li
              i.fas.fa-car
              span (၇) ႏွစ္အထိအရစ္က်၀ယ္ယူႏိုင္ျခင္း 
            li
              i.fas.fa-car
              span ျမန္မာႏိုင္ငံတြင္ KIA ကားမ်ားကို (၇) ႏွစ္တိုင္တိုင္ေအာင္ျမင္စြာ ေရာင္းခ်ႏိုင္ခဲ့ျခင္းအထိမ္းအမွတ္အေနျဖင့္ $ 500 Cash Back ျပန္လည္ခံစားရရွိမွာျဖစ္ျခင္း စသည့္အခြင့္အေရးမ်ားစြာရရွိမွာျဖစ္လို႔ KIA Showroom သို႔လာေရာက္ခဲ့ဖို႔ဖိတ္ေခၚပါတယ္ရွင္……..
        

  a.return-to-top(href='javascript:')
    i.fas.fa-arrow-up 
include ./components/_footer.pug
script(src="./assets/js/core.min.js")
