include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
          a(href="./index.html") KIA
          | / SERVICES
        ul
          li 
            a(href="http://sss.innovix-solutions.net/kia") Kia   
          li 
            a(href="http://sss.innovix-solutions.net/peugeot") Peugeot 
          li 
            a(href="http://sss.innovix-solutions.net/kinglong/") King Long
  div.container-fluid.pl-0.pr-0
    img.w-100(src="assets/images/utils/aboutus.jpg", alt="aboutus")
  div.container.con-auto.content-body
    h1 What we offer?
    //..first row
    ul.row.mt-5 
      //..first row
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img           
          img(src="assets/images/utils/icon-3.png", alt="")
        div 
          h4 MAINTENANCE
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img 			
          img(src="assets/images/utils/icon-4.png", alt="")
        div 
          h4 ELECTRICAL 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly.
      //...second row
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img           
          img(src="assets/images/utils/icon-1.png", alt="")
        div 
          h4 BRAKE SYSTEM
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img 			
          img(src="assets/images/utils/icon-2.png", alt="")
        div 
          h4 STEERING & SUSPENSION 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly.
      //..third row 
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img           
          img(src="assets/images/utils/icon-5.png", alt="")
        div 
          h4 DRIVETRAIN SYSTEM
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img 			
          img(src="assets/images/utils/icon-7.png", alt="")
        div 
          h4 COOLING SYSTEMS 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly.
      //..fouth row
      li.col-md-6.account-item.wow.fadeIn 
        div.check-square-img           
          img(src="assets/images/utils/icon-6.png", alt="")
        div 
          h4 TRANSMISSION
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item.wow.fadeIn
        div.check-square-img 			
          img(src="assets/images/utils/icon-6.png", alt="")
        div 
          h4 DRIVABILITY ANALYSIS 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly. 

    
    .row.col-top.service-img
      .col-md-4 
        img.w-100(src="assets/images/utils/abt1.jpg", alt="abt1")
      .col-md-4
        img.w-100(src="assets/images/utils/abt2.jpg", alt="abt2")
      .col-md-4 
        img.w-100(src="assets/images/utils/abt3.jpg", alt="abt3")
  a.return-to-top(href='javascript:')
    i.fas.fa-arrow-up
    
include ./components/_footer.pug
script(src="./assets/js/core.min.js")
