include ./components/_var.pug

include ./components/_head.pug
include ./components/_header.pug
main
  div.brecrum
    .container
      .brecrum-inner
        p
          a(href="./index.html") KIA
          | / Pre-owned
        ul
          li 
            a(href="#") Kia   
          li 
            a(href="#") Peugeot 
          li 
            a(href="#") King Long
  div.container-fluid.service-banner
    img.w-100(src="assets/images/utils/aboutus.jpg", alt="aboutus")
  div.container.con-auto.content-body
    h2 What we offer?     
  
    ul.row.mt-5 
      //..first row
      li.col-md-6.account-item 
        div.check-square-img 
          
          img(src="assets/images/utils/kia-ser1.png", alt="")
        div 
          h4 BRAKE SYSTEM
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item
        div.check-square-img 			
          img(src="assets/images/utils/kia-ser2.png", alt="")
        div 
          h4 STEERING & SUSPENSION 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly.
      //...second row
      li.col-md-6.account-item 
        div.check-square-img 
          
          img(src="assets/images/utils/kia-ser3.png", alt="")
        div 
          h4 BRAKE SYSTEM
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item
        div.check-square-img 			
          img(src="assets/images/utils/kia-ser4.png", alt="")
        div 
          h4 STEERING & SUSPENSION 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly.
      //..third row 
      li.col-md-6.account-item 
        div.check-square-img 
          
          img(src="assets/images/utils/kia-ser5.png", alt="")
        div 
          h4 BRAKE SYSTEM
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item
        div.check-square-img 			
          img(src="assets/images/utils/kia-ser6.png", alt="")
        div 
          h4 STEERING & SUSPENSION 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly.
      //..fouth row
      li.col-md-6.account-item 
        div.check-square-img 
          
          img(src="assets/images/utils/kia-ser7.png", alt="")
        div 
          h4 BRAKE SYSTEM
          p A critical component for your safety, brakes should always be checked if you are experiencing any problems. While a little noise is often normal for brakes, if you hear a grinding, screeching,growling or chirping, that could mean something serious. Also, if you're feeling a problem, such as grabbing, pulling, vibration, or your brake pedal feels like it is sinking into your car, it's time to have them looked at.  
      li.col-md-6.account-item
        div.check-square-img 			
          img(src="assets/images/utils/kia-ser7.png", alt="")
        div 
          h4 STEERING & SUSPENSION 
          p Often this is something you won't notice right away, but some symptoms that your car is out of alignment include the steering wheel pulling to one side the steering wheel not centered when the car is moving straight ahead and the tires not wearing evenly. 

    
    
include ./components/_footer.pug
script(src="./assets/js/core.min.js")
