.footer.container-fluid.bgfoot
  div.container.con 
    div.row 
      .col-lg-4.col-md-6.ftrow
        h4
          b Super Seven Stars
        
        //- p Address : No.22-B, 23-A, Kabar Aye Pagoda Road,Yankin Township, Yangon, Myanmar.
        //- p 
        //-   span.phonecall Phone : (+951) 
        //-     a(href="tel:01662914") 657866, 
        //-     a(href="tel:01662914") 657867, 
        //-     a(href="tel:01662914") 657868 
        //- p.phonecall 
        //-   a(href="#") Fax : (+951)662914 
        //- p.phonecall 
        //-   a(href="mailto:leasingmgr@kia.com.mm") Email : leasingmgr@kia.com.mm
        //- p Working Hours:08:00 AM - 4:00 PM (Monday to Friday) 
        //....update
        ul 
          li  
            p.text-alignment Address :
            p.address No.22-B, 23-A, Kabar Aye Pagoda Road,Yankin Township, Yangon, Myanmar.   
          li
            p.text-alignment Phone : 
            p.address
              a(href="tel:01662914") (+951) 657866, 
              a(href="tel:01662914") 657867, 
              a(href="tel:01662914") 657868
          li
            p.text-alignment Fax : 
            p.address
              a(href="tel:01662914") (+ 951) 662914 
              
          li 
            p.text-alignment Email : 
            p.email 
              a(href="mailto:info@supersevenstars.com.mm") info@supersevenstars.com.mm
            
          li
            p.text-alignment Working Hours :
            p.email 08:00 AM - 4:00 PM (Monday to Friday)   
      div.col-lg-2.col-md-6.ftrow
        h4 
          b Automotives
        div.flex-column.ftimage
          a(href="http://sss.innovix-solutions.net/kia/")
            img(src="assets/images/utils/auto_kia.png", alt="facebook")
          
          a(href="http://sss.innovix-solutions.net/peugeot/")
            img(src="assets/images/utils/auto_peugeot.png", alt="facebook")

          a(href="http://sss.innovix-solutions.net/kinglong/")
            img(src="assets/images/utils/auto_kinglong.png", alt="facebook")
            

      div.col-lg-3.col-md-6.phonecall.ftrow.links-wrap
        ul.ftlinks
          li
            a(href="./index.html") Home
          li 
            a(href="./aboutus.html") About Us
          li
            a(href="./car-list.html") KIA Models 
          li
            a(href="./promotion.html") Promotions
          li
            a(href="./service.html") Services
          li
            a(href="./contactus.html") Contact Us 
          li
            a(href="http://sss.innovix-solutions.net/automotive/tradein.html") Trade-In
          li
            a(href="http://sss.innovix-solutions.net/automotive/preowned.html") Pre-Own	
          li
            a(href="./test-drive.html") Test Drive
       
        
      div.col-lg-3.col-md-6.ftrow
        .newseletter
          h4 
            b NEWSLETTER			
          div.flex-container1 
            input.textbox(type="text")
            a(href="#")
              button.btn.btn-info(type="button") SUBSCRIBE
        .followus
          h4 
            b FOLLOW US
          div.flex-container.ftlogo
            a(href="https://www.facebook.com/KiaMyanmar/")
              img.img(src="assets/images/utils/fb.png", alt="facebook")
            a(href="#")
              img.img(src="assets/images/utils/viber.png", alt="viber")
            a(href="#")
              img.img(src="assets/images/utils/youtube.png", alt="viber")
            a(href="#")
              img.img(src="assets/images/utils/insta.png", alt="viber")
    //..update footer copyright
    div.row.footertxt  
      div.container-fluid
        div.text-center.ft_cptext 
            p.mb-0 Copyright © All Rights Reserved By Super Seven Stars Co., Ltd. Powered By 
              font 
                a(href="http://www.innovix-solutions.com/") Innovix Solutions
            a(href="http://www.innovix-solutions.com/")
              img(src="assets/images/utils/ftimg.png", alt="innovix")
