.footer.container-fluid.bgfoot
	div.container.con 
		div.row 
			.col-md-4 
				h4
					b Super Seven Stars
				p Address: No.22-B, 23-A, Kabar Aye Pagoda Road,Yankin Township, Yangon, Myanmar.
				p Phone:(+951) 657866, 657867, 657868 
				p Fax:(+951)662914 
				p Emails:leasingmgr@kia.com.mm
				p Working Hours:08:00 AM - 4:00 PM (Monday to Friday)
			 
			div.col-md-3
				h4 
					b SSS Automotives
					div.flex-column 
						img.w-100(src="assets/images/utils/s.png", alt="facebook")
						img.w-100(src="assets/images/utils/s.png", alt="facebook")
						

			div.col-md-2 
				p Home
				p About Us
				p Service
				p Trade-In
				p Pre-Own
				p Career 
				p Promotion
				p Contact Us
			div.col-md-3
				.newseletter
					h4 
						b NEWSLETTER			
					div.flex-container1 
						input.textbox(type="text")
						button.btn.btn-info(type="button") SUBSCRIBES
				.followus
					h4 
						b FOLLOW US
					div.flex-container
						img.img(src="assets/images/utils/facebook.JPG", alt="facebook")
						img.img(src="assets/images/utils/v.JPG", alt="viber")
						img.img(src="assets/images/utils/youtube.JPG", alt="viber")



