.footer.container-fluid.bgfoot
  div.container.con 
    div.row 
      div.col-lg-2.ftrow
        
        div.flex-column.ftimage
          a(href="http://sss.innovix-solutions.net/kia/")
            img(src="assets/images/utils/auto_kia.png", alt="facebook")
          
          a(href="http://sss.innovix-solutions.net/peugeot/")
            img(src="assets/images/utils/auto_peugeot.png", alt="facebook")

          a(href="http://sss.innovix-solutions.net/kinglong/")
            img(src="assets/images/utils/auto_kinglong.png", alt="facebook")
      .col-lg-6.ftrow
        h4
          b Contact
        ul
          li  
            p
              i.fas.fa-map-marker-alt
            p.address No.22-B, 23-A, Kabar Aye Pagoda Road, Yankin Township, Yangon, Myanmar.   
          li
            p
              i.fas.fa-phone-alt
            p.address
              a(href="tel:01662914") (+951) 657866, 
              a(href="tel:01662914") 657867, 
              a(href="tel:01662914") 657868
          li
            p
              i.fas.fa-fax
            p.address
              a(href="tel:01662914") (+ 951) 662914 
              
          li 
            p
              i.fas.fa-envelope
            p.address 
              a(href="mailto:info@supersevenstars.com.mm") info@supersevenstars.com.mm
            
          //- li
          //-   p.title Working Hours
          //-   p.semi :
          //-   p.address 08:00 AM - 4:00 PM (Monday to Friday)     
            

      //- .col-lg-2.col-md-6.phonecall.ftrow.links-wrap
      //-   ul.ftlinks.pt-0
      //-     li
      //-       a(href="./index.html") Home
      //-     li
      //-       a(href="./aboutus.html") About Us
      //- 
      //-     li
      //-       a(href="./service.html") Services
      //-     li
      //-       a(href="./contactus.html") Contact Us 
          
          
        
      div.col-lg-4.ftrow
        .followus
          div.flex-container.ftlogo
            a(href="#").facebook
              i.fab.fa-facebook-f
            a(href="#").viber
              i.fab.fa-viber
            a(href="#").youtube
              i.fab.fa-youtube
            a(href="#").instagram
              i.fab.fa-instagram
        .newseletter
          div.flex-container
            input.textbox(type="text")
            a(href="#")
              button.btn.btn-info(type="button") SUBSCRIBE
    //..update footer copyright
    div.row.footertxt  
      div.container-fluid
        div.text-center.ft_cptext 
            p.mb-0 Copyright © All Rights Reserved By Super Seven Stars Co., Ltd. Powered By 
              font 
                a(href="http://www.innovix-solutions.com/") Innovix Solutions
            a(href="http://www.innovix-solutions.com/")
              
