header    
    .top-bar      
      .container
        .sub-menu   
          .pt-1.mobile-width
            .contact-item
              i.fa.fa-phone
              span  (+951) 657866, 657867, 657868
            .contact-item
              a.sss-link(href="info@supersevenstars.com")
                i.fa.fa-envelope
                span  info @ supersevenstars.com
          .top-menu-icon
            a(href="#") 
              img(src="./assets/images/utils/facebook-letter-logo.svg", alt="")       
            a(href="#") 
              img(src="./assets/images/utils/linkedin-logo.svg", alt="")
            a(href="#") 
              img(src="./assets/images/utils/viber.svg", alt="")
            a(href="#") 
              img(src="./assets/images/utils/youtube-logo.svg", alt="")
          div
            ul.d-flex
              li.top-menu
                a(href="#") Pre-Owned
              li.top-menu
                a(href="#") Trade In
              li.top-menu
                a.border-right-0(href="#") 
                  img.rotating(src="./assets/images/utils/steering-drive.svg", alt="")
                  span Test Drive
              
    nav.navbar.navbar-expand-lg.main-nav            
      .container.nav-container   
        div.navbar-brand     
          a(href="#")
            img(src="./assets/images/utils/SuperSevenStars_Logo02.png", alt="")
            img.line(src="./assets/images/utils/logo-line.png", alt="")
          a(href="#")
            img(src="./assets/images/utils/kia-logo.png", alt="")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsenavbar')
          span.navbar-toggler-icon 
            i.fa.fa-bars
        div#collapsenavbar.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="./index.html") Home
            li.nav-item
              a.nav-link(href="./aboutus.html") About Us 
            li.nav-item.kia-model
              a.nav-link(href="./car-list.html") KIA Models
              //- .car-model-list
              //-   .d-flex             
              //-     a.car-type(href="./pre-owned-detail.html")
              //-       p
              //-         | Peugeot
              //-         br 
              //-         | 2019
              //-       img.w-100(src="./assets/images/utils/kia-mega-menu-1.png", alt="")
              //-     a.car-type(href="./pre-owned-detail.html")
              //-       p
              //-         | Peugeot
              //-         br 
              //-         | 2019
              //-       img.w-100(src="./assets/images/utils/kia-mega-menu-2.png", alt="")
              //-     a.car-type(href="./pre-owned-detail.html")
              //-       p
              //-         | Peugeot
              //-         br 
              //-         | 2019
              //-       img.w-100(src="./assets/images/utils/kia-mega-menu-3.png", alt="")
              //-     a.car-type(href="./pre-owned-detail.html")
              //-       p
              //-         | Peugeot
              //-         br 
              //-         | 2019
              //-       img.w-100(src="./assets/images/utils/kia-mega-menu-4.png", alt="")
              //-     a.car-type(href="./pre-owned-detail.html")
              //-       p
              //-         | Peugeot
              //-         br 
              //-         | 2019
              //-       img.w-100(src="./assets/images/utils/kia-mega-menu-5.png", alt="")
            li.nav-item
              a.nav-link(href="./promotion.html") Promotions           
            li.nav-item
              a.nav-link(href="./service.html") Services
            li.nav-item
              a.nav-link(href="./contactus.html") Contact Us
            li.nav-item.show-mobile
              a.nav-link(href="#") Pre-Owned
            li.nav-item.show-mobile
              a.nav-link(href="#") Trade In
            li.nav-item.show-mobile
              a.nav-link(href="#") Test Drive
            //- li.nav-item
            //-   span#open-search.nav-link.nav-search | &nbsp;&nbsp;
            //-     i.fa.fa-search
          div.searchright
            i.fas.fa-search.btn-search-icon
            input.form-control.search(type='text', placeholder='Search ...')            
            i.fas.fa-times.ml-3.btn-search-icon               
        

           
            
